
<mat-card>
  <mat-card-title>Validated Forms with Angular's Reactive Forms</mat-card-title>

  <mat-card-content>

    <mat-card-subtitle class="form-value-subtitle">Value: {{myForm.value | json}}</mat-card-subtitle>

    <mat-divider></mat-divider>

    <form [formGroup]="myForm">

      <mat-card-subtitle>Email</mat-card-subtitle>
      <mat-form-field>
        <input matInput placeholder="example@email.com" formControlName="email">
        <mat-error *ngIf="!email?.['valid'] && email?.touched">
          Your email does not look correct...
        </mat-error>
      </mat-form-field>




      <mat-card-subtitle>Password</mat-card-subtitle>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
        <mat-hint align="end" >
            Hint: Password requires a minimum of 5 characters, 1 letter, 1 number, and 1 special character.
        </mat-hint>
        <mat-error *ngIf="!password?.['valid'] && password?.touched">
          Your does not meet the requirements...
      </mat-error>
      </mat-form-field>

      <mat-card-subtitle>Email</mat-card-subtitle>
      <mat-form-field>
        <input matInput placeholder="age" formControlName="age">
        <mat-error *ngIf="age?.errors?.['min'] && age?.touched">
            {{ age?.errors?.['min'].actual }} is too young!
        </mat-error>
        <mat-error *ngIf="age?.errors?.['max'] && age?.touched">
          {{ age?.errors?.['max'].actual }} is too old!
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="agree">Are you sure?</mat-checkbox>

      <button mat-button [disabled]="myForm.invalid"> Let's Go!</button>

    </form>
  </mat-card-content>
</mat-card>
