
<mat-card>

  <mat-card-title>Basic Form with Angular's Reactive Forms</mat-card-title>

  <mat-card-content>

    <mat-card-subtitle class="form-value-subtitle">Value: {{myForm.value | json}}</mat-card-subtitle>

    <mat-divider></mat-divider>

    <form [formGroup]="myForm">

      <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="your message..." formControlName="message"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="career" placeholder="career"></mat-select>
      </mat-form-field>

    </form>

  </mat-card-content>

</mat-card>
